<?xml version="1.0" encoding="UTF-8"?>	
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.norvorj.pg2" versionCode="11" version="1.2.0">	
	<!--	versionCode	is	opIonal	and	Android	only	-->	
	<name>PG-Barc1</name>	
	<description>	
		Demo 2 for	MWC	fall	2015	
	</description>	
	<author href="http://www.ashesi.edu.gh" email="norvorjude@gmail.com">	
		J Norvor		
	</author>	
	<icon src="icon.png"/>
	<gap:splash src="splash.png"/>
	<gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.2.0"/>
</widget>